<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Variable</th>
            <th scope="col">Pipe</th>
            <th scope="col">Producto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{nombre}}<td>
            <td>uppercase</td>
            <td>{{nombre | uppercase}}</td>
          </tr>
          <tr>
            <td>{{nombre}}<td>
            <td>lowecase</td>
            <td>{{nombre | lowercase}}</td>
          </tr>
          <!-- Slice corta lo que queramos, elimina las posiciones tanto de strings como de Arrays -->
          <tr>
            <td>{{nombre}}<td>
            <td>slice:0:3</td>
            <td>{{nombre | slice:0:3}}</td>
          </tr>
          <!-- Number muestra los numeros que queramos, 1.0 son los enteros, -5 son los decimales-->
          <tr>
            <td>{{PI}}<td>
            <td>Number</td>
            <td>{{PI | number:'1.0-5'}}</td>
          </tr>
          <!-- Nos ayuda a leer las promesas, ya que si no nos esperamos no vamos a tener los datos para leerlos a tiempo -->
          <tr>
            <td>{{valorDePromesa}}<td>
            <td>Async</td>
            <td>{{valorDePromesa | async}}</td>
          </tr>
          <tr>
            <td>{{nombre2}}<td>
            <td>Async</td>
            <td>{{nombre2 | capitalizado:1}}</td>
          </tr>
        </tbody>
        <!-- Imprime Un JSON -->
        <h1>JSON</h1>
        <pre>{{json|json}}</pre>
      </table>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>