<div class="row text-rigth mt-3">
    <div class="col">
        <button class="btn-danger btn" routerLink="/heroes">
            <i class="fa-arrow-left fa"></i> Atras
        </button>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col">
        <form (ngSubmit)="guardar(f)" #f="ngForm">
            <div class="form-group">
                <label>FirebaseID</label>
                <input [(ngModel)]="heroe.id" name="id" placeholder="Firebase ID" type="text" class="form-control" disabled="disabled">
                <small class="small-text form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input [(ngModel)]="heroe.nombre" name="nombre" placeholder="Nombre heroe" type="text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Poder</label>
                <input [(ngModel)]="heroe.poder" name="poder" placeholder="Poder del heroe" type="text" class="form-control" required>
            </div>

            <div class="form-group" style="text-align: center;">
                <label>Estado</label>
                <br>
                <button *ngIf="heroe.vivo" (click)="heroe.vivo=false" class="btn btn-outline-success w-25" type="button">
                    <i class="fas fa-smile-wink"></i> Vivo
                </button>
                <button *ngIf="!heroe.vivo" (click)="heroe.vivo=true" class="btn btn-outline-danger w-25 ml-1" type="button">
                    <i class="fas fa-dizzy"></i> Muerto
                </button>
            </div>

            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>

            </div>

        </form>
        <button class="btn btn-success ml-2" (click)="chupaMelaBasico()">Sweat Alert 1</button>
        <button class="btn btn-warning ml-2" (click)="chupaMela2()">Sweat Alert 2</button>
        <button class="btn btn-primary ml-2" (click)="chupaMela3()">Sweat Alert 3</button>
        <button class="btn btn-danger ml-2" (click)="chupaMela4()">Sweat Alert 4</button>
        <button class="btn btn-dark mt-2 ml-2" (click)="chupaMela5()">Sweat Alert 5</button>
        <button class="btn btn-light btn-outline-primary mt-2 ml-2" (click)="chupaMela6()">Sweat Alert 5</button>
    </div>
</div>