<h4>Formularios <small>template</small></h4>
<hr>
<!-- novalidate desactiva toda validacion HTML5 estandar -->
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>
<!-- NOTAS

ngModel ha de ir con name

ngModel genera las clases en los formularios y los va fichando según los hayamos tocado
tambien podemos decir que la proppiedad fomra parte de un objeto del backend(TS)
clases:

-ng-untouched ->El usuario no ha tocado el formulario, si lo ha tocado es ng-touched

-ng-pristine -> Formulario con valor por defecto, es el opuesto al dirty
-ng-dirty -> Formulario modificado por el usuario

-ng-valid -> El formulario pasa las reglas de validacion
-->
  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [ngModel]="usuario.nombre"
               minlength="5"
               required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [ngModel]="usuario.apellido"
               minlength="5"
               required>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="correo"
             [ngModel]="usuario.correo"
             minlength="5"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>
